.icones-result {
    margin-top   : -2px;
    margin-bottom: 3px;
}

.icone-culture-div {
    border       : 1px solid $darkPurple;
    border-radius: 50%;
    display      : inline-block;

    img {
        margin: -9px
    }
}