.resume-exploitation {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 29px 0px 10px 0px;
    clear: both;

    .resume-exploitation-titre {
        font-size: 16px;
    }

    .resume-exploitation-container {
        padding: 0px 24px 0 24px;
        border-radius: 6px;
        border: solid 1px #e7e8ed;
        background-color: #ffffff;

        .caracteristique-exploitation {
            width: 100px;
            height: 100px;
            position: relative;
            text-align: center;

            img {
                max-width: 60px;
                max-height: 60px;
            }

            a {
                font-weight: bold;
                color: #414A64;

                &:hover {
                    text-decoration: none;
                }                
            }

            span {
                position: absolute;
                width: 100%;
                left: 0px;
                top: 59px;

                font-size: 12px;
                line-height: 1.2;
                letter-spacing: normal;
                text-align: center;
                color: #414A64;
            }
        }
    }
}
