
.infos-formation-image {
    float: right;
    margin-bottom: 10px;

    img {
        width: 300px;
    }
}

table.infos-formation {
    float: right;
    border: 1px solid $accentColorBackground;
    clear: right;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 20px;

    td, th {
        font-size: 80%;
        padding: 5px 6px;
        line-height: 21px;     
    }
}

/* Vert clair */
th.infos-formation-titre {
    background-color: $lightAccentColorBackground;
}
