/***********************************************
 * Neayi SCSS for the standard mw classes
 ***********************************************/


/* External links */

.mw-parser-output {
    .external {
        background-position: center right;
        background-repeat  : no-repeat;
        padding-right      : 13px;
        background-image   : url("skins/skin-neayi/images/external-link-ltr-icon.png");
        background-image   : linear-gradient(transparent, transparent),
            url("skins/skin-neayi/images/external-link-ltr-icon.svg");
    }

    // recolor the links in a way that ensure we can see them
    a:visited {
        color: #0b0080;
    }

    a {
        color: #0645ad;
    }
}

.mw-parser-output a:visited {
    color: #6c7ae0;
}

.mw-parser-output a {
    color: #0645ad;
}

body {
    color: #212529;
}

.mw-body {
    font-family: $font-family-serif;
    font-size  : 17px;
    line-height: 1.9rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: $font-family-base;
        font-weight: 600;
        color      : #212529;
    }

    .mw-indicators {
        margin-top: 37px;
    }

    p,
    li {
        margin-bottom: 0.3em;
    }

    pre,
	.mw-code {
		line-height: 1.5;
	}

    .mw-editfont-monospace {
        line-height: 1.5;
    }
}

li.gallerybox div.thumb {
    background-color: #ffffff;
}
