/***********************************************
 * Neayi SCSS for the standard mw classes
 ***********************************************/


/* External links */

.mw-parser-output {
    .external {
        background-position: center right;
        background-repeat  : no-repeat;
        padding-right      : 13px;
        background-image   : url("/skins/skin-neayi/images/external-link-ltr-icon.png");
        background-image   : linear-gradient(transparent, transparent),
            url("/skins/skin-neayi/images/external-link-ltr-icon.svg");
    }

    // recolor the links in a way that ensure we can see them
    a:visited {
        color: #0b0080;
    }

    a {
        color: #0645ad;
    }
}

.mw-parser-output a:visited {
    color: #6c7ae0;
}

.mw-parser-output a {
    color: #0645ad;
}

body {
    color: #212529;
}

.mw-body {
    font-family: $font-family-serif;
    font-size  : 17px;
    line-height: 1.9rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: $font-family-base;
        font-weight: 600;
        color      : #212529;
    }

    .mw-indicators {
        margin-top: 37px;
    }

    p,
    li {
        margin-bottom: 0.3em;
    }

    pre,
    .mw-code {
        line-height: 1.5;
    }

    .mw-editfont-monospace {
        line-height: 1.5;
    }
}

li.gallerybox div.thumb {
    background-color: #ffffff;
}

// Disable talk pages
#pt-mytalk {
    display: none;
}

.smw-indicator-vertical-bar-loader {
    display: none;

    &:before,
    &:after {
        display: none;
    }
}

q {
    background-color: #ccf1e5;
    padding         : 20px;
    margin          : 30px 0;
    display         : block;
}

@media (max-width: 500px) {

    .mw-search-createlink,
    .mw-search-profile-tabs {
        display: none;
    }
}

ul.mw-search-results {
    padding-left: 0;
}

.suggestions div {
    font-size: 20px;
}

// Move the popups a bit higher in the z-index because the semantic maps then to be higher even...:
.mwe-popups {
    z-index: 3000;
}

.mw-body {
    .catlinks {
        border          : none;
        background-color: transparent;
        padding         : 0px;
        clear           : none;

        ul {
            display: inline;
        }
    }

    .mw-hidden-catlinks {
        display: none;
    }
}

.maps-leaflet {
    .leaflet-pane {
        z-index: 50;
    }

    .leaflet-top,
    .leaflet-bottom {
        z-index: 55;
    }
}