/***********************************************
 * Neayi SCSS for the standard mw classes
 ***********************************************/


/* External links */

.mw-parser-output {
    .external {
        background-position: center right;
        background-repeat  : no-repeat;
        padding-right      : 13px;
        background-image   : url("/skins/skin-neayi/images/external-link-ltr-icon.png");
        background-image   : linear-gradient(transparent, transparent),
            url("/skins/skin-neayi/images/external-link-ltr-icon.svg");
    }

    // recolor the links in a way that ensure we can see them
    a:visited {
        color: #0b0080;
    }

    a {
        color: #0645ad;
    }
}

.mw-parser-output a:visited {
    color: #6c7ae0;
}

.mw-parser-output a {
    color: #0645ad;
}

body {
    color: #212529;
}

.mw-body {
    font-family: $font-family-serif;
    font-size  : 17px;
    line-height: 1.9rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: $font-family-base;
        font-weight: 600;
        color      : #212529;
    }

    .mw-indicators {
        border-radius: 50%;
        background: white;
        margin-top: 0px;

        img {
            border-radius: 14%;
            margin: 16px;
        }
    }

    p,
    li {
        margin-bottom: 0.3em;
    }

    pre,
    .mw-code {
        line-height: 1.5;
    }

    .mw-editfont-monospace {
        line-height: 1.5;
    }
}

li.gallerybox div.thumb {
    background-color: #ffffff;
}

// Disable talk pages
#pt-mytalk {
    display: none;
}

.smw-indicator-vertical-bar-loader {
    display: none;

    &:before,
    &:after {
        display: none;
    }
}

q {
    background-color: #ccf1e5;
    padding         : 20px;
    margin          : 30px 0;
    display         : block;
}

@media (max-width: 500px) {

    .mw-search-createlink,
    .mw-search-profile-tabs {
        display: none;
    }
}

ul.mw-search-results {
    padding-left: 0;
}

.suggestions div {
    font-size: 20px;
}

// Move the popups a bit higher in the z-index because the semantic maps then to be higher even...:
.mwe-popups {
    z-index: 3000;
}

.mw-body {
    .catlinks {
        border          : none;
        background-color: transparent;
        padding         : 0px;
        clear           : none;

        ul {
            display: inline;
        }
    }

    .mw-hidden-catlinks {
        display: none;
    }
}

.maps-leaflet {
    .leaflet-pane {
        z-index: 50;
    }

    .leaflet-top,
    .leaflet-bottom {
        z-index: 55;
    }
}

.p-lang-dropdown {
    display  : inline-block;
    font-size: 14px;
}

// Template Articles détaillés
.bandeau-niveau-information {
    color: #202122;
    line-height: 1.6;
    border-style: solid;
    overflow: hidden;
    font-size: 0.95em;
    border-width: 1px 0;
    padding: 0.2em 0.5em 0.3em 0;
    margin: 0.3em 0 0.7em 2em;
    border-color: #e7e7e7;
    background-color: #fdfdfd;

    .loupe {
        color              : #202122;
        font-size          : 0.95em;
        vertical-align     : middle;
        background-repeat  : no-repeat;
        line-height        : 1.5em;
        text-indent        : 23px;
        display            : inline-block;
        background-image   : url(//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Searchtool.svg/15px-Searchtool.svg.png);
        background-position: 2px 3px;
    }
}

table.small th, table.small td {
    font-size: 80%;
    line-height: 1.7;
}
