/***********************************************
 * Neayi SCSS for the header and footer
 ***********************************************/

.p-navbar {
    .navbar-collapse {
        .nav-link {
            color         : #355B84;
            text-transform: uppercase;
            font-family   : $font-family-base;
            font-size     : 14px;
            font-weight   : bold;
            letter-spacing: 2px;
        }
    }

    .navbar-brand {
        img {
            height: 29px;
            top   : -2px;
        }
    }

    // When in desktop mode
    @media (min-width: 1105px) {
        padding: 0 0 0 16px;

        .navbar-brand {
            img {

                height: 49px;
                top   : -8px;
            }
        }
    }


    .navbar-tools {
        display: none;
    }

    // Override the personnal menu
    .p-personal-tools {

        #pt-notifications-alert,
        #pt-notifications-notice {
            display: inherit;

            height: 40px;
            color : #212529;

            .oo-ui-icon-bell,
            .mw-ui-icon-bell:before,
            .oo-ui-icon-tray,
            .oo-ui-icon-tray:before {
                background-image: unset;
            }

            .mw-echo-notifications-badge {
                color      : inherit;
                width      : auto;
                height     : auto;
                top        : auto;
                text-indent: unset;
                margin     : auto;
                line-height: 34px;

                &:after {
                    display: none;
                }

                &-dimmed {
                    opacity: 1;
                }

                &.mw-echo-notifications-badge-all-read {
                    opacity: 1;
                }
            }
        }
    }

    .create-profile {
        background-color: $brand-primary;
        color           : $body-bg;
        width           : 342px;
        height          : 88px;

        .neayi-avatar {
            width        : 72px;
            height       : 72px;
            margin-left  : 27px;
            border-radius: 50%;
        }

        a.neayi-username {
            font-family   : $font-family-base;
            font-size     : 16px;
            font-weight   : bold;
            color         : white !important;
            text-transform: none;
            letter-spacing: normal;
        }
    }
}

// Reduce a little the height of the menu items in the context menus
.interaction-bloc .interaction-links .p-contentnavigation a,
.interaction-bloc-mobile .interaction-links .p-contentnavigation a {
    height: 35px !important;
}

.dropdown-menu>div>a {
    padding: 0 1.5rem !important;
}

.footer {
    letter-spacing  : 0.44px;
    color           : $darkPurple;
    font-size       : 1rem;
    max-width       : 100%;
    background-color: #e9ecef;
    font-family     : $font-family-base;

    li {
        margin-top: 1em;
        font-size : 14px;

        a {
            color: $darkPurple;
        }
    }

    p.footer-title {
        font-weight: 600;
    }

    img {
        height: 46px;
    }

    @media (max-width: 768px) {
        .partners img {
            width: auto;
        }
    }

    .social-links {
        margin-left: 4px;

        a {
            &:hover {
                text-decoration: none;
            }

            span {
                display       : inline-block;
                border-radius : 50%;
                box-shadow    : 0px 0px 0px 2px #404964;
                font-size     : 14px;
                height        : 25px;
                width         : 25px;
                line-height   : 27px;
                margin        : 0 3px;
                text-align    : center;
                vertical-align: middle;
            }
        }
    }
}

/* Search form */

/* Hide the form when not in its dedicated div*/
#p-search {
    display: none;
}

div#neayi-search-button {
    width       : 88px;
    border-left : 2px white solid;
    border-right: 2px white solid;
    height      : 88px;
    text-align  : center;
    line-height : 115px;
    cursor      : pointer;

    @media (max-width: 1105px) {
        & {
            display: none;
        }
    }    

    span.material-icons {
        font-size: 43px;
        color    : #404964;
    }
}

#neayi-search-button-collapsed {
    display: none;

    @media (max-width: 1105px) {
            & {
                display: inline;
            }
    }    
}


div#neayi-searchform {
    background-color: #15A072;
    color           : #fff;
    height          : 88px;
    margin-right    : -15px;
    margin-left     : -15px;
    padding         : 0 15px;
    display         : none;

    span#searchform-close {
        position : absolute;
        right    : 20px;
        top      : 20px;
        font-size: 40px;
        cursor   : pointer;

        @media (max-width: 768px) {
            & {
                display: none;
            }
        }
    }

    .input-group
    {
        margin: 0 auto;
        max-width: 600px;

        input#searchInput {
            border     : none;
            font-size  : 48px;
            font-weight: 100;
            color      : #fff;
            padding    : 11px 0 10px;
            float      : left;
            line-height: 1;
            background : 0 0;
    
            &::placeholder {
                color: #c8c8c8;
            }
        }      
        
        button#searchGoButton {
            border          : none;
            background-color: transparent;
            color           : white;
            font-size       : 30px;
        }        
    }


}