/***********************************************
 * Neayi SCSS Variables
 ***********************************************/



$font-size-base  : 1.38rem;
$line-height-base: 2.25rem;
$font-family-base: "Raleway",
Arial,
Helvetica,
sans-serif;

// Colors
$greyBg    : #f5f5f5;
$darkGreen : #00a46e;
$yellow    : #fff000;
$darkPurple: #404964;
$muted     : #9e9e9e;
$danger    : #df1f00;
$dark      : #2c2c2c;

