.mainContainer {
    .mw-body {
        max-width: 1100px;
    }

    .leftSide {
        width: 310px;

        @media (max-width: 1390px) {
            & {
                display: none;
            }
        }

        .toc {
            display: block;
        }
    }

    .toc {
        border          : none;
        background-color: inherit;
        position        : sticky;
        top             : 125px;
        margin-top      : 35px;


        // Don't show before being moved.
        // The move function should be in MediaWiki:Common.js
        display: none;

        .toctitle {
            text-align: left;
            padding   : 0 0 0 20px;
        }

        ul {
            font-family: $font-family-base;
            font-size  : 14px;
            font-weight: 600;

            li.toclevel-1 {
                &>a.active {
                    background-color: #0645ad;
                    border-radius   : 3px;
                    color           : #FFF;

                    span {
                        color: #FFF;
                    }
                }


            }


            li {
                margin-bottom: 0.5em;

                a {
                    padding: 0 0 0 20px;
                }
            }
        }

        .toctogglespan {
            display: none;
        }
    }

    .centralDiv {
        overflow-x: hidden;
    }
}

.card {
    p.card-title {
        line-height: 1.4;
    }

    p.card-text {
        line-height: 21px;
        padding    : 5px 0;
    }
}

.btn-dark-green, .btn-primary {
    background-color: $darkGreen;

    &:hover {
        background: darken($darkGreen, 6%);
    }

    a, a.external {
        font-weight: 800;
        color      : #fff;
        padding-right: 0px;
        background-image: none;

        &:hover, &:visited {
            color: #FFF;
            text-decoration: none;
        }
    }
}

.cepage {
    img.card-img {
        object-fit: cover;
        height    : 190px;
    }
}

.badge {
    font-family  : 'Raleway';
    font-weight  : 600;
    font-size    : 11px;
    border-radius: 0.25rem;

    @media (min-width: 500px) {
        white-space: normal;
    }

    a,
    a.new {
        color: #FFFFFF !important;

        &:hover {
            color: #FFFFFF !important;
        }
    }
}

/* Caledriers pour les périodes de présence */
table.calendrier {
    border        : 1px solid #dee2e6;
    display       : inline-block;
    vertical-align: sub;

    td {
        width      : 22px;
        height     : 22px;
        font-size  : .8rem;
        text-align : center;
        background : #fff;
        color      : #777;
        border     : 1px solid #dee2e6;
        font-weight: 500;
        line-height: 1.4rem;
        font-family: 'Roboto', sans-serif;

        &.rempli {
            background: #008193;
            color     : #fff;
        }
    }
}

.nav-tabs {
    li.nav-item {
        margin-bottom: 0;
    }

    .nav-link,
    .navbar-tool>a {
        background-color: #F2F3F6;
        font-weight     : bold;
        margin-right    : 5px;
        color           : #000;
    }

    .nav-link.active,
    .navbar-tool>a.active,
    .nav-item.show .nav-link,
    .nav-item.show .p-navbar .navbar-tool>a,
    .nav-item.show .navbar-tool>a {
        color       : $darkGreen;
        margin-right: 5px;

        // Hide the bottom border of the active tab
        box-shadow: 0px 2px 0 0px #fff;
    }
}