.mainContainer {
    max-width: 1500px;

    .toc {
        border          : none;
        background-color: inherit;
        position        : sticky;
        top             : 80px;
        margin-top      : 35px;

        // Don't show before being moved.
        // The move function should be in MediaWiki:Common.js
        display: none;

        .toctitle {
            text-align: left;
            padding   : 0 0 0 20px;
        }

        ul {
            font-family: "Raleway";
            font-size  : 14px;
            font-weight: 600;

            li.toclevel-1 {
                &>a.active {
                    background-color: #0645ad;
                    border-radius   : 3px;
                    color           : #FFF;

                    span {
                        color: #FFF;
                    }
                }


            }


            li {
                a {
                    padding: 0 0 0 20px;
                }
            }
        }

        .toctogglespan {
            display: none;
        }
    }
}

