.hero-portail {
    div.row {
        min-height: 350px;
        position  : relative;
        overflow-y: hidden;

        div.hero-portail-img {
            position: absolute;
            top     : 0;
            height  : 100%;
            width   : 100%;

            img {
                height    : 100%;
                position  : absolute;
                top       : 0;
                object-fit: cover;
                width     : 100%;
            }
        }

        div.hero-titles {
            padding: 0px 30px 60px 30px;

            img.portrait-agris {
                border-radius: 50%;
                border       : 3px solid #CCC;
                object-fit   : cover;
                position     : absolute;
                display      : none;
            }

            img.portrait-logo {
                width        : 180px;
                height       : 180px;
                object-fit   : cover;
                border-radius: 50%;
                position     : absolute;
                top          : 59px;
                right        : 81px; // In order to center on the right green column
                display      : none;
            }

            h1 {
                font-family: $font-family-base;

                font-weight   : 800;
                font-size     : 2.75rem;
                letter-spacing: 1.25px;
                border-bottom : none;
            }

            h2 {
                font-family: $font-family-base;

                font-weight  : 800;
                border-bottom: none;
                font-size    : 1.5rem;
            }

            .hero-tags a {
                background-color: white;
                padding         : 3px 10px;
                margin-right    : 5px;
                border-radius   : 5px;
                font-weight     : 700;
                color           : #212529;

                &:hover {
                    text-decoration: none;
                }
            }

            @media (min-width: 850px) {
                padding: 0px 60px 60px 320px;

                img.portrait-agris {
                    width  : 200px;
                    height : 200px;
                    left   : 60px;
                    top    : 40px;
                    display: block;
                }
            }

            @media (min-width: 1384px) {
                padding-left : 371px;
                padding-right: 342px; // Width of the right green column

                h1 {
                    font-size: 3.75rem;
                }

                h2 {
                    font-size: 2.125rem;
                }

                img.portrait-agris {
                    width : 250px;
                    height: 250px;
                    left  : 50px;
                }

                img.portrait-logo {
                    display: block;
                }
            }
        }

        .black-layer {
            position        : absolute;
            background-color: rgba(0, 0, 0, 0.26);
            top             : 0;
            left            : 0;
            width           : 100%;
            height          : 100%;
        }
    }
}

.thematique {
    font-family: $font-family-base;
    padding    : 10px 15px;

    div>div {
        min-height   : 97px;
        background   : #F2F3F6;
        line-height  : 13px;
        padding      : 17px 17px 7px 80px;
        border-radius: 5px;
        position     : relative;

        img {
            width          : 60px;
            height         : 60px;
            position       : absolute;
            top            : 11px;
            left           : 11px;
            image-rendering: crisp-edges;
            image-rendering: -webkit-optimize-contrast;
        }

        h4,
        .h4 {
            font-weight: bold;
            font-size  : 17px;
            color      : #000;
            padding    : 0px 0px 4px 0px;
            margin     : 0px;
            line-height: 14px;

            a,
            a:hover,
            a:visited {
                color: #000;
            }
        }

        p {
            font-size : 13px;
            text-align: left;
            color     : #000000D9;
        }
    }
}

.portal-store-results {
    .smw-plainlist-furtherresults {
        display: none !important;
    }
}

.portail-card-container {
    padding-left : 0;
    padding-right: 0;

    div.portail-card {
        font-family: "Raleway", Arial, Helvetica, sans-serif;

        div {
            background-color: #F8F8F8;
            margin          : 10px 0;
            padding         : 21px;
            border-radius   : 5px;
            min-height      : 134px;

            a {
                color          : #5d5d5d;
                text-decoration: none;
                line-height    : 26px;
                font-weight    : bold;
                font-size      : 21px;
            }

            p {
                font-size    : 17px;
                line-height  : 24px;
                margin-top   : 5px;
                margin-bottom: 0;
                color        : #848484;
            }
        }
    }

}

div.forum-portail {
    background-color: #CCF1E5;
    font-size       : 18px;
    padding         : 20px;
    margin          : 50px 0;
    font-weight     : bold;
    font-family     : $font-family-base;

    a,
    a:hover,
    a:visited {
        color: $primary;
    }
}

.rex-card {
    font-family  : $font-family-base;
    margin-bottom: 15px;
    border       : 1px solid #efefef;
    border-radius: 15px;

    .img-top-container {
        height  : 150px;
        width   : 100%;
        position: relative;
        display : inline-block;

        img {
            border-radius: 15px;
            object-fit   : cover;
            width        : 100%;
            height       : 100%;
        }

        .card-img,
        .card-img-top {
            border-top-left-radius : 15px;
            border-top-right-radius: 15px;
        }

        .card-img-top-overlay {
            position        : absolute;
            bottom          : 0;
            left            : 0;
            width           : 100%;
            height          : 100%;
            background-image: linear-gradient(to bottom, rgba(69, 69, 69, 0), #212121);
            color           : white;

            div {
                position   : absolute;
                bottom     : 0px;
                padding    : 0px 10px 13px 0;
                line-height: 20px;

                .card-title {
                    font-size  : 16px;
                    text-align : left;
                    font-weight: 600;
                    color      : white;

                    a {
                        color          : white;
                        text-decoration: none;
                    }
                }

            }
        }
    }

    .card-text {
        line-height: 1.5;
    }

    &.article {
        .card-body {
            font-size : 15px;
            text-align: left;
            padding   : 13px;
        }

        .avatar {
            width     : 48px;
            height    : 48px;
            object-fit: cover;
        }

        .badge-light {
            position: absolute;
            left    : 15Px;
            top     : 14px;
            color   : $darkPurple;
            z-index : 10;
        }
    }
}

.video-card {
    font-family  : $font-family-base;
    width        : 100%;
    margin-bottom: 15px;

    .img-top-container {
        height  : 223px;
        position: relative;

        img.thumbnail {
            border-radius : 15px;
            object-fit    : cover;
            width         : 100%;
            height        : 100%;
            vertical-align: baseline;
        }

        img.play-arrow {
            position: absolute;
            left    : 50%;
            top     : 45%;
            margin  : -27px;
        }

        .video-card-overlay {
            position        : absolute;
            bottom          : 0;
            left            : 0;
            width           : 100%;
            height          : 100%;
            background-image: linear-gradient(to bottom, rgba(69, 69, 69, 0), #212121);
            border-radius   : 15px;

            div {
                position   : absolute;
                bottom     : 0px;
                padding    : 16px;
                line-height: 20px;

                .card-title {
                    font-size  : 16px;
                    color      : #fff;
                    font-weight: 600;
                    line-height: 1.25;

                    a {
                        color          : white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.very-small-card {
    border-radius: 15px;

    .image-col {
        max-height: 132px;
        overflow  : hidden;
        min-height: 100px;

        img {
            object-fit                : cover;
            height                    : 100%;
            border-bottom-left-radius : 15px;
            border-top-left-radius    : 15px;
            border-bottom-right-radius: 0px;
            border-top-right-radius   : 0px;
        }
    }

    .card-text a {
        font-family: 'Raleway';
        font-weight: 600;
        color      : #222;
    }

}