.hero-portail {
    div.row {
        min-height: 350px;
        position  : relative;
        overflow-y: hidden;

        div.hero-portail-img {
            position: absolute;
            top     : 0;
            height  : 100%;
            width   : 100%;

            img {
                height    : 100%;
                position  : absolute;
                top       : 0;
                object-fit: cover;
                width     : 100%;
            }
        }

        div.hero-titles {
            padding: 0px 38px;

            @media (min-width: 1095px) {
                padding: 0px 70px;
            }

            @media (min-width: 1384px) {
                padding-left : 379px;
                padding-right: 250px;
            }

            h1 {
                font-family: $font-family-base;

                font-weight   : 800;
                letter-spacing: 1.25px;
                font-size     : 3.75rem;
                border-bottom : none;

                // When in mobile mode
                @media (max-width: 800px) {
                    font-size: 2.75rem;
                }
            }

            h2 {
                font-family: $font-family-base;

                font-size    : 2.125rem;
                font-weight  : 800;
                margin-bottom: 50px;
                border-bottom: none;
            }
        }


        .black-layer {
            position        : absolute;
            background-color: rgba(0, 0, 0, 0.26);
            top             : 0;
            left            : 0;
            width           : 100%;
            height          : 100%;
        }
    }
}

.thematique {
    font-family: $font-family-base;
    padding    : 10px 15px;

    div>div {
        min-height   : 97px;
        background   : #F2F3F6;
        line-height  : 13px;
        padding      : 17px 17px 7px 80px;
        border-radius: 5px;
        position     : relative;

        img {
            width   : 60px;
            height  : 60px;
            position: absolute;
            top     : 11px;
            left    : 11px;
        }

        h4,
        .h4 {
            font-weight: bold;
            font-size  : 17px;
            color      : #000;
            padding    : 0px 0px 4px 0px;
            margin     : 0px;
            line-height: 14px;

            a,
            a:hover,
            a:visited {
                color: #000;
            }
        }

        p {
            font-size : 13px;
            text-align: left;
            color     : #000000D9;
        }
    }
}

.portal-store-results {
    .smw-plainlist-furtherresults {
        display: none !important;
    }
}

div.forum-portail {
    background-color: #CCF1E5;
    font-size       : 18px;
    padding         : 20px;
    margin          : 50px 0;
    font-weight     : bold;
    font-family     : $font-family-base;

    a,
    a:hover,
    a:visited {
        color: $primary;
    }

    .btn {
        padding  : 10px 20px;
        font-size: 17px;


        a {
            font-weight: bold;
            color      : #FFF;

            &:hover,
            &:visited {
                color: #fff;
            }
        }
    }
}


.rex-card {
    font-family  : $font-family-base;
    margin-bottom: 15px;
    border       : 1px solid #efefef;
    border-radius: 15px;

    .img-top-container {
        height  : 150px;
        width   : 100%;
        position: relative;
        display : inline-block;

        img {
            border-radius: 15px;
            object-fit   : cover;
            width        : 100%;
            height       : 100%;
        }

        .card-img,
        .card-img-top {
            border-top-left-radius : 15px;
            border-top-right-radius: 15px;
        }

        .card-img-top-overlay {
            position        : absolute;
            bottom          : 0;
            left            : 0;
            width           : 100%;
            height          : 100%;
            background-image: linear-gradient(to bottom, rgba(69, 69, 69, 0), #212121);
            color           : white;

            div {
                position   : absolute;
                bottom     : 0px;
                padding    : 0px 10px 13px 0;
                line-height: 20px;

                .card-title {
                    font-size  : 16px;
                    text-align : left;
                    font-weight: 600;
                    color      : white;

                    a {
                        color          : white;
                        text-decoration: none;
                    }
                }

            }
        }
    }

    .card-text {
        line-height: 1.5;
    }

    &.article {
        .card-body {
            font-size : 15px;
            text-align: left;
            padding   : 13px;
        }

        .avatar {
            width     : 48px;
            height    : 48px;
            object-fit: cover;
        }

        .badge-light {
            position: absolute;
            left    : 15Px;
            top     : 14px;
            color   : $darkPurple;
            z-index : 10;
        }
    }
}

.video-card {
    font-family  : $font-family-base;
    width        : 100%;
    margin-bottom: 15px;

    .img-top-container {
        height  : 223px;
        position: relative;

        img.thumbnail {
            border-radius: 15px;
            object-fit   : cover;
            width        : 100%;
            height       : 100%;
        }

        img.play-arrow {
            position: absolute;
            left    : 50%;
            top     : 45%;
            margin  : -27px;
        }

        .video-card-overlay {
            position        : absolute;
            bottom          : 0;
            left            : 0;
            width           : 100%;
            height          : 100%;
            background-image: linear-gradient(to bottom, rgba(69, 69, 69, 0), #212121);
            border-radius   : 15px;

            div {
                position   : absolute;
                bottom     : 0px;
                padding    : 16px;
                line-height: 20px;

                .card-title {
                    font-size  : 16px;
                    color      : #fff;
                    font-weight: 600;
                    line-height: 1.25;

                    a {
                        color          : white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}