@media print {

    #neayi-searchform,
    #scrollbar,
    #mw-debug-toolbar,
    .leftSide,
    .rightSide,
    .navigation-not-searchable,
    .searchaux,
    .interaction-bloc-inside,
    .di-comments,
    .social-sticky,
    .title-sticky,
    .footer,
    .mw-editsection {
        display: none !important;
    }

    .centralDiv,
    .mainContainer .mw-body {
        max-width: none;
    }

    .mw-body .mw-content-text p,
    p {
        line-height: 1.9rem !important;
    }

    body
    {
        margin: 15mm !important;
    }
}