/***********************************************
 * Neayi SCSS for the VisualEditor extension
 ***********************************************/

// force the visualeditor toolbar to stay on top
.ve-init-mw-desktopArticleTarget-toolbar-opened {
	z-index: 5000;
}

// Force the modals to show up on top of visual editor
.oo-ui-windowManager-modal>.oo-ui-dialog {
    z-index: 104;

    // Some menus show up under a toolbar. Bad.
    .oo-ui-window-frame {
        top: 111px;
    }
}
// Some menus show up under a toolbar. Bad.
.oo-ui-dialog {
    .oo-ui-window-frame {
        top: 111px;
    }
}

// Force the min width of the editor, and hide the margins
.ve-activated {
    #content {
        min-width: 1200px;
    }

    .rightSide,
    .leftSide {
        display: none !important;
    }
}