/***********************************************
 * Neayi SCSS for the VisualEditor extension
 ***********************************************/

// Force the min width of the editor, and hide the margins
.ve-activated, .mw-special-FormEdit {
    #content {
        min-width: 1200px;
    }

    .rightSide,
    .leftSide,
    #scrollbar {
        display: none !important;
    }
}

.ve-init-mw-desktopArticleTarget-toolbar {
    margin-top: -83px;
    padding-top: 83px;
}

.ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
    top: 88px !important;
}

.ve-ui-overlay-global {
    z-index: 100;
}

// Move the insert template window down a bit
.oo-ui-windowManager-modal.oo-ui-windowManager-floating > .oo-ui-dialog > .oo-ui-window-frame {
    top: 7em;
}
