// For the main Search page, remove the side blocks and the title
.page-Search,
.page-Retours_d_expérience,
.page-Portraits_de_ferme {
    .contentHeader {
        display: none;
    }

    .leftSide {
        display: none;
    }

    .interaction-bloc {
        display: none;
    }

    .mw-indicators {
        display: none;
    }

    #content {
        max-width: 1400px;
        margin   : auto;
    }
}

.wikisearch {

    .wikisearch-results {
        img.card-img {
            width: 200px;
        }
    }

    label.wikisearch-pill {
        max-width       : 236px;
        background-color: $brand-primary;
        color           : white;

        &:hover {
            background-color: $brand-primary;
        }

        &:after {
            color: white;
        }
    }

    label.wikisearch-dropdown__select {
        padding-block: 0;
    }

    .wikisearch-filters__wrapper {
        .wikisearch-filter {
            margin-bottom: 1em;
        }
    }

    div.wikisearch-filters {
        @media (max-width: 500px) {
            top: 45px;
        }
    }

    .wikisearch-order {
        @media (max-width: 500px) {
            display: none !important;
        }
    }

    ul.wikisearch-list-box {
        z-index: 80 !important;
    }

    .wssearch-button--show-filters {
        z-index         : 100;
        bottom          : 5em;
        background-color: $accentColorBackground;
        border-color    : $accentColorBackground;

        &:hover {
            background-color: darken($accentColorBackground, 10%);
            border-color    : darken($accentColorBackground, 10%);
        }
    }

    .wikisearch-search {
        .wikisearch-button--progressive {
            background-color: $accentColorBackground;
            border-color    : #a0a8b0;
            color           : white;
        }

        .wikisearch-tooltip {
            .wikisearch-button {
                background: transparent;
                color     : #0645ad;
            }
        }
    }

    .wikisearch-button.wikisearch-filter__button {
        width: 100%;
        color: #0645ad;
    }

    .wikisearch-checkbox__count {
        margin-left  : 0.5em;
        white-space  : nowrap;
        background   : $accentColorBackground;
        color        : white;
        font-weight  : 700;
        font-size    : 11px;
        padding      : 1px 5px;
        border-radius: 8px;

        &:before,
        &:after {
            content: "";
        }
    }

    .search-result {
        overflow     : auto;
        margin-bottom: 1em;

        background-color: #fdfdfd;
        padding         : 13px;
        border-radius   : 10px;
        box-shadow      : 1px 1px 5px 0px #e9e9e9;

        .card-title {
            margin-top: 0;
        }

        .card-text {
            font-size  : 12px;
            font-weight: 400;

            .small {
                font-size  : 12px;
                font-weight: 400;
            }
        }

        .badge {
            font-size: 10px;
        }
    }

    b.wikisearch-total__nr {
        font-weight: normal;
    }
}

