/*********************
 * Neayi SCSS
 *********************/

$brand-primary: #1abc9c;
.top-header {
    background-color: $brand-primary;
    color: $body-bg;
    position: relative;
    min-height: 5px;
    line-height: 20px;
    .row {
        margin-right: 0;
        margin-left: 0;
        .col {
            font-size: 80%;
            padding: 8px 15px;
            opacity: 1;
            .social-links {
                display: inline-block;
                margin: 0 20px;
                a {
                    font-size: 16px;
                    margin-right: 5px;
                    color: $body-bg;
                    text-decoration: none;
                }
            }
        }
    }
}

.mw-body {
    .firstHeading {
        color: #337ab7;
    }
}

.carousel-indicators {
    width: 100%;
    left: 0;
    text-align: left;
    position: initial;
    margin: 0 -1%;
    padding-left: 0px;
    li {
        text-indent: 0px;
        border-radius: 0px;
        float: left;
        border: 1px solid #ddd;
        width: 14.666%;
        margin: 10px 1% 0px;
        height: 60px;
        background: #f1f1f1;
        overflow: hidden;
    }
}

.item {
    img,
    video {
        border: 1px solid #ddd;
        width: 100%;
        height: 100%;
    }
}

.carousel-indicators {
    video {
        max-width: 100%;
        height: auto;
    }
    .active {
        border: 1px solid #000;
    }
}

p {
    margin-bottom: 0px;
}

div.small-description {
    color: #757575;
    font-size: 80%;
    margin-bottom: 10px;
}

div.resistance-stars {
    color: #8E8E8E;
    font-size: 80%;
}

p#neayi-main-page-header-text {
    font-size: 150%;
    color: white;
    font-weight: bold;
    font-family: 'Comfortaa', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a#neayi-main-page-header-cta {
    border-radius: 10rem;
    padding: 1.25rem 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-color: #6cb530;
    background-color: #6cb530;
}


/* Override links in bades so that they show up nicely (we can't just set the class directly on the link) */

.badge-info a {
    color: #fff !important;
    text-decoration: none;
}


/* External links */

.mw-parser-output {
    .external {
        background-position: center right;
        background-repeat: no-repeat;
        padding-right: 13px;
        background-image: url("skins/skin-neayi/images/external-link-ltr-icon.png");
        background-image: linear-gradient(transparent, transparent), url("skins/skin-neayi/images/external-link-ltr-icon.svg");
    }
    // recolor the links in a way that ensure we can see them
    a:visited {
        color: #0b0080;
    }
    a {
        color: #0645ad;
    }
}

body.page-Accueil {
    background-color: #F2F3F5;
    div.flex-fill.container {
        background-color: #F2F3F5;
        background-image: url("skins/skin-neayi/header-bg.jpg");
        background-size: 1140px;
        background-position: top;
        background-repeat: no-repeat;
    }
    #firstHeading {
        display: none;
    }
}

.mw-parser-output a:visited {
    color: #6c7ae0;
}

.mw-parser-output a {
    color: #0645ad;
}

body {
    color: #58595B;
}

div.home_categories {
    div {
        text-align: center;
        height: 189px;
        padding: 2rem 0;
        p {
            a {
                >img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        >span {
            color: #707070;
            font-size: 21px;
            font-family: 'Comfortaa', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            position: absolute;
            top: 100px;
            left: 10%;
            width: 80%;
            a,
            a:hover,
            a:active,
            a:visited {
                color: #707070;
            }
        }
    }
}

div.home-panels {
    >div {
        padding: 1rem;
        .nav-tabs .nav-link.active,
        .nav-tabs .p-navbar .navbar-tool>a.active,
        .p-navbar .nav-tabs .navbar-tool>a.active,
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-item.show .p-navbar .navbar-tool>a,
        .p-navbar .nav-tabs .nav-item.show .navbar-tool>a {
            color: #35AE6B;
            background-color: #fff;
            border-color: #FFF #FFF #35AE6B;
            border-width: 2px;
            font-weight: bold;
        }
        .nav-tabs {
            border-bottom: none;
            margin-bottom: 1rem;
        }
    }
}
$cmln-icons: () !default;
$cmln-icons: map-merge((
	pt-notifications-alert: fas fa-bell, // Echo
    pt-notifications-notice: fas fa-inbox,  // Echo

), $cmln-icons);


@each $icon-class, $fa-class in $cmln-icons {

	.#{$icon-class} {
		@include icon($fa-class);
	}

	a.#{$icon-class} {

		&:before {
			margin-right: $cmln-icon-margin;
			display: inline-block;
			text-decoration: none;
		}
	}
}

.navbar-tools {
    #pt-notifications-alert, #pt-notifications-notice {

        display: inherit;
        
        .oo-ui-icon-bell, .mw-ui-icon-bell:before,
        .oo-ui-icon-tray, .oo-ui-icon-tray:before {
            background-image: unset;
        }
        
        .mw-echo-notifications-badge {

            width: auto;
            height: auto;
            top: auto;
            text-indent: unset;

            &-dimmed {
                opacity: 1;
            }

            &.mw-echo-notifications-badge-all-read {
                opacity: 1;
            }
        }
    }
}

