/*********************
 * Neayi SCSS
 *********************/

// NB: the import will not work on production environment because of the concatenation of all the CSS (it must stay at the start)
// Do not forget to add any import statements in the Mediawiki:Common.css to override that behaviour.
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800');


.top-header {
    background-color: $brand-primary;
    color           : $body-bg;
    position        : relative;
    min-height      : 5px;
    line-height     : 20px;

    .row {
        margin-right: 0;
        margin-left : 0;

        .col {
            font-size: 80%;
            padding  : 8px 15px;
            opacity  : 1;

            .social-links {
                display: inline-block;
                margin : 0 20px;

                a {
                    font-size      : 16px;
                    margin-right   : 5px;
                    color          : $body-bg;
                    text-decoration: none;
                }
            }
        }
    }
}

.mw-body {
    .firstHeading {
        color: #337ab7;
    }
}

.carousel-indicators {
    width       : 100%;
    left        : 0;
    text-align  : left;
    position    : initial;
    margin      : 0 -1%;
    padding-left: 0px;

    li {
        text-indent  : 0px;
        border-radius: 0px;
        float        : left;
        border       : 1px solid #ddd;
        width        : 14.666%;
        margin       : 10px 1% 0px;
        height       : 60px;
        background   : #f1f1f1;
        overflow     : hidden;
    }
}

.item {

    img,
    video {
        border: 1px solid #ddd;
        width : 100%;
        height: 100%;
    }
}

.carousel-indicators {
    video {
        max-width: 100%;
        height   : auto;
    }

    .active {
        border: 1px solid #000;
    }
}

p {
    margin-bottom: 0px;
}

div.small-description {
    color        : #757575;
    font-size    : 80%;
    margin-bottom: 10px;
}

div.resistance-stars {
    color    : #8E8E8E;
    font-size: 80%;
}

/* Override links in bades so that they show up nicely (we can't just set the class directly on the link) */

.badge-info a {
    color          : #fff !important;
    text-decoration: none;
}


/* External links */

.mw-parser-output {
    .external {
        background-position: center right;
        background-repeat  : no-repeat;
        padding-right      : 13px;
        background-image   : url("skins/skin-neayi/images/external-link-ltr-icon.png");
        background-image   : linear-gradient(transparent, transparent), url("skins/skin-neayi/images/external-link-ltr-icon.svg");
    }

    // recolor the links in a way that ensure we can see them
    a:visited {
        color: #0b0080;
    }

    a {
        color: #0645ad;
    }
}

.mw-parser-output a:visited {
    color: #6c7ae0;
}

.mw-parser-output a {
    color: #0645ad;
}

body {
    color: #212529;
}

.navbar-tools {

    #pt-notifications-alert,
    #pt-notifications-notice {

        display: inherit;

        .oo-ui-icon-bell,
        .mw-ui-icon-bell:before,
        .oo-ui-icon-tray,
        .oo-ui-icon-tray:before {
            background-image: unset;
        }

        .mw-echo-notifications-badge {

            color      : inherit;
            width      : auto;
            height     : auto;
            top        : auto;
            text-indent: unset;
            margin     : auto;

            &:after {
                display: none;
            }

            &-dimmed {
                opacity: 1;
            }

            &.mw-echo-notifications-badge-all-read {
                opacity: 1;
            }
        }
    }
}

$font-size-base  : 1.38rem;
$line-height-base: 2.25rem;
$font-family-base: "Raleway",
Arial,
Helvetica,
sans-serif;

// Colors    
$greyBg    : #f5f5f5;
$darkGreen : #00a46e;
$yellow    : #fff000;
$darkPurple: #404964;

/**
 * Override the home page
**/
body.page-Accueil {

    #firstHeading {
        display: none;
    }

    .WikiMainContent {
        max-width: 100%;
        padding  : 0px;

        .mw-body {
            padding: 0px;
        }

        >.row {
            margin-right: 0;
            margin-left : 0;

            >.col {
                padding-right: 0;
                padding-left : 0;
            }
        }
    }

    .bodyContent {
        font-size  : $font-size-base;
        font-family: $font-family-base;
        line-height: $line-height-base;


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            border-bottom: none;
        }

        a:not(.btn) {
            color          : $darkGreen;
            font-weight    : 600;
            text-decoration: underline;
            transition     : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

            &:hover {
                color: darken($darkGreen, 6%)
            }
        }

        .btn {
            font-weight   : 800;
            letter-spacing: 0.5px;
        }

        .avatar {
            object-fit: cover;

            &.big {
                width : 98px;
                height: 98px;
            }
        }

        .hero {
            background-image   : url('/skins/skin-neayi/images/hero/shutterstock_708166867.jpg');
            background-position: center;
            background-size    : cover;
            height             : 544px;
            position           : relative;
            -webkit-transition : background 0.3s ease;
            -moz-transition    : background 0.3s ease;
            -ms-transition     : background 0.3s ease;
            -o-transition      : background 0.3s ease;
            transition         : background 0.3s ease;

            h1 {
                font-weight   : 800 !important;
                letter-spacing: 1.25px;
                font-size     : 3rem;
                margin-top    : 0px;
                padding-top   : 0px;

                @media (min-width:1000px) {
                    font-size: 3.75rem;
                }
            }

            h2 {
                font-size  : 2rem;
                font-weight: 800 !important;
                margin-top : 0px !important;
                padding-top: 0px;

                @media (min-width:1000px) {
                    max-width: 60%;
                    font-size: 2.125rem;
                }
            }

            .green-layer {
                position        : absolute;
                background-image: url('/skins/skin-neayi/images/hero/green-layer.png');
                background-size : cover;
                top             : 0;
                left            : 0;
                width           : 100%;
                height          : 100%;
            }
        }

        h3 {
            font-size  : 1.95rem;
            font-weight: 700 !important;
        }

        .content-col {
            max-width: 1800px;
        }

        // Cards
        .card {
            border       : 1px solid #efefef;
            border-radius: 4px;

            a {
                color          : inherit;
                font-weight    : inherit;
                text-decoration: none;
                transition     : none;
            }

            .img-top-container {
                position: relative;
                display : inline-block;
                height  : 168px;

                img {
                    object-fit: cover;
                    height    : 100%;
                }

                .card-img-top-overlay {
                    position        : absolute;
                    bottom          : 0;
                    left            : 0;
                    width           : 100%;
                    height          : 100%;
                    background-image: linear-gradient(to bottom, rgba(69, 69, 69, 0), #212121);
                    color           : white;

                    .card-title {
                        font-size  : 1.25rem;
                        line-height: 1.2;
                        text-align : left;
                        font-weight: 600;

                        a {
                            color          : white;
                            text-decoration: none;
                        }
                    }
                }
            }

            .card-text {
                line-height: 1.5;
                font-weight: 600;

                a {
                    color          : $body-color;
                    text-decoration: none;
                }
            }

            .badge {
                padding      : 0.4rem;
                font-weight  : 600;
                font-size    : 0.8rem;
                border-radius: 2Px;

                &.badge-grey {
                    background-color: #f2f2f2;
                }
            }

            &.article {
                .card-body {
                    font-size : 1rem;
                    text-align: left;
                }

                .avatar {
                    width : 48px;
                    height: 48px;
                }

                .badge-light {
                    position: absolute;
                    left    : 15Px;
                    top     : 14px;
                    color   : $darkPurple;
                    z-index : 10;
                }
            }
        }

        // section caractéristiques agriculture

        .icons {
            img {
                height: 24px;
                width : auto;
            }

            span {
                font-size  : 0.8rem;
                line-height: 1.33;
            }
        }

        .agri-name {
            font-weight: 800;
            font-size  : 3rem;
        }

        // Forms
        .search-form {


            form {
                .fa-search {
                    position      : relative;
                    left          : 41px;
                    z-index       : 300;
                    vertical-align: middle;
                }

                input.searchboxInput {
                    height          : 56px;
                    text-indent     : 2.5rem;
                    border-radius   : 26px 0 0 26px;
                    border          : solid 1px #dddddd;
                    background-color: #f2f3f6;
                    padding-bottom  : 0.5rem !important;
                    padding         : 0.375rem 0.75rem;
                    position        : relative;
                    box-shadow      : none;
                    width           : 55%;

                    @media (min-width:1000px) {
                        width: 70%;
                    }
                    @media (min-width:1500px) {
                        width: 700px;
                    }

                    &::placeholder {
                        color         : #212121;
                        font-size     : 0.8rem;
                        letter-spacing: 1px;
                    }

                    &:focus,
                    &:hover {
                        outline     : none;
                        box-shadow  : none;
                        border-color: $darkGreen;
                        z-index     : 200;
                    }
                }

                input.mw-ui-button {
                    border-top-left-radius    : 0;
                    border-bottom-left-radius : 0;
                    border-top-right-radius   : 28px;
                    border-bottom-right-radius: 28px;
                    position                  : relative;
                    z-index                   : 2;
                    background-color          : $darkGreen;
                    font-weight               : 800;
                    letter-spacing            : 0.5px;
                    color                     : $white;
                    padding-left              : 1.5rem;
                    padding-right             : 1.5rem;
                    border                    : 1px solid transparent;
                    font-size                 : 1rem;
                    height                    : 56px;
                    margin                    : 0;
                }
            }

            .input-group-prepend {
                margin-right: -35px;
                z-index     : 1000;

                .input-group-text {
                    background               : transparent;
                    border-top-left-radius   : 26px;
                    border-bottom-left-radius: 26px;
                    border                   : none;
                    margin-right             : -22Px;

                    .fa-search {
                        font-size: 2rem;
                    }
                }
            }
        }

        .testimonies {
            .avatar {
                width : 64px;
                height: 64px;
                border: solid 1px #919191
            }
        }

        // Utilities

        .grey-bg {
            background-color: $greyBg;
        }

        .text-dark-green {
            color: $darkGreen;
        }

        .text-yellow {
            color: $yellow;
        }

        .font-weight-semibold {
            font-weight: 600;
        }

        .btn-dark-green {
            background-color: $darkGreen;

            &:hover {
                background: darken($darkGreen, 6%)
            }


            a {
                font-weight: 800;
                color      : #fff;

                &:hover {
                    color: inherit;
                }
            }
        }

        .no-line-height {
            line-height: inherit;
        }

        .normal-line-height {
            line-height: normal;
        }
    }
}

.footer {
    font-weight   : 600;
    letter-spacing: 0.44px;
    color         : $darkPurple;
    font-size     : 1rem;
    max-width     : 100%;

    a {
        color    : $darkPurple;
        font-size: 1rem;
    }

    img {
        height: 46px;
    }

    .rs-line {
        img {
            height: 46px;
        }
    }

    small {
        font-size  : 16px;
        font-weight: normal;
    }

    @media (max-width:768px) {
        .partners img {
            width: auto;
        }
    }

    .social-links {
        a {
            &:hover {
                text-decoration: none;
            }

            span {
                display       : inline-block;
                border-radius : 50%;
                box-shadow    : 0px 0px 0px 2px #404964;
                height        : 42px;
                line-height   : 42px;
                margin        : 0 3px;
                width         : 42px;
                font-size     : 24px;
                text-align    : center;
                vertical-align: middle;
            }
        }

    }
}

// force the visualeditor toolbar to stay on top
.ve-ui-toolbar {
    z-index: 5000;
}