/* Override some of chameleon icons: */
/* @see https://github.com/ProfessionalWiki/chameleon/blob/master/docs/variables.md */

$cmln-icons : map-merge($cmln-icons, (navbar-tool-link: fas fa-edit,
        ca-watch: far fa-eye,
        ca-unwatch: far fa-eye-slash,
    ));


$menuBackground : #e9ecef;
$accentColorBackground: #15A072; // Used for profile background, community zone, etc...
$lightAccentColorBackground: #ccf1e5; // Used for the background color in interactive zones for example

$brand-primary: $accentColorBackground;

$font-family-base: "Raleway", Arial, Helvetica, sans-serif;
$font-family-serif: "Merriweather", serif;

// Colors
$greyBg    : #f5f5f5;
$darkGreen : $accentColorBackground;
$yellow    : #fff000;
$darkPurple: #404964;
$muted     : #9e9e9e;
$danger    : #df1f00;
$dark      : #2c2c2c;
