/*********************
 * Neayi SCSS
 *********************/

// NB: the import will not work on production environment because of the concatenation of all the CSS (it must stay at the start)
// Do not forget to add any import statements in the Mediawiki:Common.css to override that behaviour.
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap");

@import "neayiVariables";
@import "mwOverrides";
@import "caracteristiques_exploitation";
@import "commentStream";
@import "VisualEditor";
@import "neayiHeaderFooter";
@import "pages_interieures";
@import "home";
@import "interactions";
@import "semanticDrilldown";
@import "community_dialog";
@import "carousel";
@import "portails";

.introjs-tooltip {
    min-width: 350px;

    .introjs-tooltip-title {
        color: $brand-primary;
    }
}



.item {

    img,
    video {
        border: 1px solid #ddd;
        width : 100%;
        height: 100%;
    }
}

div.small-description {
    color        : #757575;
    font-size    : 80%;
    margin-bottom: 10px;
    line-height  : 22px;
}

div.resistance-stars {
    color    : #8e8e8e;
    font-size: 80%;
}


button:focus {
    outline: none;
}

// Utilities

.grey-bg {
    background-color: $greyBg;
}

.text-dark-green {
    color: $darkGreen;
}

.text-yellow {
    color: $yellow;
}

.text-dark-purple {
    color: $darkPurple;
}

.text-muted {
    color: $muted !important;
}

.text-merriweather {
    font-family: $font-family-serif;
}

.font-weight-semibold {
    font-weight: 600;
}

.btn-dark-green {
    background-color: $darkGreen;

    &:hover {
        background: darken($darkGreen, 6%);
    }
}

.btn-outline-darkgreen {
    background-color: white;
    border          : 2px solid $darkGreen;

    &:hover {
        background: rgba(21, 160, 114, 0.1);
    }
}

.btn-outline-gray {
    background-color: white;
    border          : solid 2px #e7e8ed;

    &:hover {
        background: rgba(231, 232, 237, 0.4);
    }
}

.btn-gray {
    background-color: #f2f3f6;
    color           : $darkPurple;

    &:hover {
        background-color: #d0d5e6;
    }
}

.no-line-height {
    line-height: inherit;
}

.normal-line-height {
    line-height: normal;
}

.text-big {
    font-size: 4rem;
}

.no-caret {
    &::after {
        border     : none;
        margin-left: 0;
    }
}