

$menuBackground : #F2E5BF;

$accentColorBackground: #FD8B51; // Used for profile background, community zone, etc...
$brand-primary: #FD8B51;
$darkGreen : #FD8B51;

$lightAccentColorBackground: #F2E5BF;

.bonkbonk {
    color: pink;
}
